@model IEnumerable<PsychotherapistWebSite.Models.Slide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Slayt", "Create")
</p>
<p>
    @Html.ActionLink("Yeni Resim Yazısı", "Index","Motto")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motto.Title)
        </th>
        <th></th>
    </tr>

@foreach (var slide in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => slide.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => slide.Motto.Title)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=slide.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=slide.Id })
        </td>
    </tr>
} 
</table>
