@model IEnumerable<PsychotherapistWebSite.Core.Models.Motto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Resim Yazıları</h2>

<p>
    @Html.ActionLink("Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teller)
        </th>
        <th></th>
    </tr>

    @foreach (var motto in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => motto.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => motto.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => motto.Teller)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = motto.Id })
            </td>
            <td>
                @Html.ActionLink("Sil", "Delete", new { id = motto.Id })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Geri", "Index", "Slide")
</div>
