@model IEnumerable<PsychotherapistWebSite.Core.Models.Faq>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>
    @{
        var i = 1;
    }
    @foreach (var item in Model) {
        <tr class="@(i<=2 ? "success":"")">
            <td >
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a href="#" ><i class="fa js-actionFaq @( @item.IsDisplayOnHomePage ? "fa-star" : "fa-star-o")" id="@item.Id"></i></a>
            </td>
        </tr>
        i++;
    }

</table>

@section scripts{
    <script>
        $(document).ready(function() {
            animate();
            HomeFaqController.action();
        });
    </script>
}