@model PsychotherapistWebSite.Core.Models.WelcomeText

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
@if (Model == null)
{
    <p>
        @Html.ActionLink("Yeni Oluştur", "Create")
    </p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(m => m.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
                @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
            </td>
        </tr>

    </table>
}

