<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/lib/css")
    @Styles.Render("~/bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Semra Tanas", "Index", "Home", new { area = "User" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
<div class="container-fluid margin-body">
        <div class="row">
            <div class="col-md-2 admin-sidebar">
                <div class="form-group">
                     <a class="form-control" data-toggle="collapse" href="#main">Ana Sayfa <i class="fa fa-angle-down pull-right"></i></a>
                    <div id="main" class="panel-collapse collapse">
                        <ul class="list-service">
                            <li>
                                @Html.ActionLink("Alanlarım", "Index", "Service", null, new { @class = "btn btn-link form-control" })
                            </li>
                            <li>
                                @Html.ActionLink("Slayt", "Index", "Slide", null, new { @class = "btn btn-link form-control" })
                            </li>
                            <li>
                                @Html.ActionLink("Giriş Yazısı", "Index", "WelcomeTexts", null, new { @class = "btn btn-link form-control" })
                            </li>
                            <li>
                                @Html.ActionLink("Ana Sayfa SSS", "Index", "HomeFaq", null, new { @class = "btn btn-link form-control" })
                            </li>
                            <li>
                                @Html.ActionLink("Belgelerim", "", "", null, new { @class = "btn btn-link form-control" })
                            </li>
                        </ul>
                    </div>

                    <a class="form-control" data-toggle="collapse" href="#blog">Blog <i class="fa fa-angle-down pull-right"></i></a>
                    <div id="blog" class="panel-collapse collapse">
                        <div class="form-group">
                            <ul class="list-service">
                                <li>
                                    @Html.ActionLink("Yazılarım", "Index", "Service", null, new { @class = "btn btn-link form-control" })
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Yazı", "", "", null, new { @class = "btn btn-link form-control" })
                                </li>
                            </ul>
                        </div>
                    </div>

                    <a class="form-control" data-toggle="collapse" href="#information">Diğer<i class="fa fa-angle-down pull-right"></i></a>
                    <div id="information" class="panel-collapse collapse">
                        <div class="form-group">
                            <ul class="list-service">
                                <li>
                                    @Html.ActionLink("Resimler", "Index", "Images", null, new { @class = "btn btn-link form-control text-left" })
                                </li>
                            </ul>
                        </div>
                    </div>
                    @Html.ActionLink("Kişisel Bilgiler", "Index", "Info", null, new { @class = "form-control" })
                    @Html.ActionLink("Yorumlar", "Index", "Service", null, new { @class = "form-control" })
                    <a href="@Url.Action("Index","Messages")" class="form-control">Mesajlar
                        <span class="fa fa-bell pull-right notification" hidden></span>
                    </a>
                    @Html.ActionLink("SSS", "Index", "Faqs", null, new { @class = "form-control" })
                </div>

                
            </div>
            <div class="col-md-8">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
                </div>
            </div>
        </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/admin/scripts")
    @Scripts.Render("~/lib/scripts")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            MessageController.getUnreadMessageCount();
        });
    </script>
    
</body>
</html>
